body { 
  margin: 0; padding: 0; font-family: Arial, sans-serif; 
}

header, main { 
  text-align: center; padding: 20px; 
}

#map { 
  width: 100%; height: 500px; margin-bottom: 20px; 
}

#form { 
  margin-top: 20px; display: inline-block; 
}

form { 
  display: inline-block; 
}

label, input, button 
{ 
  display: block; margin: 5px 0; 
}

#geocoder-container { 
  margin-bottom: 10px; 
}

